In [1]:
from loan_calculator import Loan, Amoritization

In [2]:
mortgage = Loan(18000, 5.29, 5, start_date='12/17/2018')
a_table = mortgage.amoritize()

In [3]:
a_table.head()

,Principal Remaining,Principal Payment,Interest Payment,Total Interest Paid
Month No,,,,
1,17737.27,262.73,79.35,79.35
2,17473.38,263.89,78.19,157.54
3,17208.33,265.05,77.03,234.57
4,16942.11,266.22,75.86,310.43
5,16674.72,267.39,74.69,385.12